.formulario-intro {
  font-family:
    Comic Sans MS,
    Comic Sans,
    cursive;
  font-size: 20px;
  justify-self: center;
  padding: 20px;
  width: 60%;
}

.formulario-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 20px;
  justify-self: center;
  padding: 20px;
  place-items: center;
  width: 60%;
}

/* Estilos para pantallas más grandes */
@media (max-width: 768px) {
  .formulario-container {
    grid-template-columns: 1fr;
  }
}

.formulario-buttons {
  font-family:
    Comic Sans MS,
    Comic Sans,
    cursive;
  font-size: 20px;
  justify-self: center;
  padding: 20px;
  text-align: center;
  width: 60%;
}

.preguntas {
  width: 100%;
}

.confirm-button.mat-mdc-unelevated-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}