.formulario-intro {
  display: flex;
  font-family:
    Comic Sans MS,
    Comic Sans,
    cursive;
  font-size: 20px;
  justify-self: center;
  padding: 20px;
  width: 60%;
}

.formulario-container {
  display: flex;
  font-family:
    Comic Sans MS,
    Comic Sans,
    cursive;
  font-size: 20px;
  justify-self: center;
  padding: 20px;
  width: 60%;
}
